# Retry configuration
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=300000

# Use npm registry
registry=https://registry.npmjs.org/

# Legacy peer deps
legacy-peer-deps=true

# Increase network concurrency
maxsockets=10

# Disable audit to speed up install
audit=false

# Disable fund messages
fund=false

engine-strict=false 